<div class="h-full flex items-center justify-between mr-2">
  <div class="flex items-center font-bold gap-3 text-xl cursor-pointer">
    <div class="w-9 h-9 ml-2"><app-logo></app-logo></div>
    <span class="select-none">Sport your best</span>
  </div>
  <div class="min-w-80 w-[40%] flex items-center gap-3">
    <div
      class="h-9 relative flex items-center w-full bg-primaryColor rounded-3xl"
    >
      <input
        class="input input-bordered rounded-3xl pl-4 pr-8 h-full w-full bg-primaryColor outline-none text-textColor"
        type="text"
        className="grow"
        placeholder="Search"
      />
      <span
        nz-icon
        nzType="search"
        nzTheme="outline"
        class="absolute right-3 top-0 translate-y-[calc(50%+4px)] text-textColor"
      >
      </span>
    </div>
    <nz-badge [nzCount]="5">
      <span
        nz-icon
        nzType="shopping-cart"
        nzTheme="outline"
        class="text-2xl cursor-pointer text-slate-700"
      ></span>
    </nz-badge>
  </div>
  <div><app-nav-menu></app-nav-menu></div>
</div>
