<div
  class="bg-primaryColor rounded-xl h-3/4 w-[150px] flex flex-col items-center text-center py-4"
>
  <a routerLink="/as" class="bg-[#c8bbb2] rounded-full m-3 cursor-pointer"
    ><span
      nz-icon
      nzType="home"
      nzTheme="outline"
      class="text-3xl text-white p-3"
    ></span
  ></a>
  <div class="text-xl">
    <p
      *ngFor="let category of categories"
      class="text-lg my-3 cursor-pointer duration-300 hover:text-xl"
    >
      {{ category }}
    </p>
  </div>
</div>
